<div class="operator">
  <div class="operator-info info">
    <div class="main-info">
      <div class="operator-logo">
        <img src="public/logo.png">
      </div>
      <h1 class="operator-name">Клуб веселых и находчивых</h1>
    </div>
    <div class="text-info info">
      <p>Телефон: 8-888-88-88</p>
      <p>E-mail: mail@kvn.site</p>
      <p>Адрес: Москва, ул. Особая, 71в</p>
      <p>Приходите в любое время</p>
    </div>
  </div>
  <div class="events">
    <h2>Текущие события</h2>
    <div class="events-filter">
      <div class="current">А-Я</div>
      <div class="drop-open">v</div>
      <ul class="drop-content">
        <li>А-Я</li>
        <li>Я-А</li>
        <li>Цена^</li>
        <li>Ценаv</li>
      </ul>
    </div>
  </div>
</div>