<div class="operator">
  <div class="operator-info info">
    <div class="main-info">
      <div class="operator-logo">
        <img src="public/logo.png">
      </div>
      <h1 class="operator-name">Клуб веселых и находчивых</h1>
    </div>
    <div class="text-info info">
      <p>Телефон: 8-888-88-88</p>
      <p>E-mail: mail@kvn.site</p>
      <p>Адрес: Москва, ул. Особая, 71в</p>
      <p>Приходите в любое время</p>
    </div>
  </div>
  <div class="events">
    
    <div class="events-header">
      <h2>Текущие события</h2>
      //= events-filter.html
    </div>

    <div class="events-list">

      //= event-card.html
      //= event-card.html
      //= event-card.html
      //= event-card.html
      //= event-card.html
      //= event-card.html
      //= event-card.html
      //= event-card.html
      //= event-card.html
      //= event-card.html
      //= event-card.html
      //= event-card.html
      //= event-card.html
      //= event-card.html
      //= event-card.html


    </div>

  </div>
</div>